appnope==0.1.4
asttokens==2.4.1
backcall==0.2.0
click==8.1.7
comm==0.2.2
debugpy==1.6.7
decorator==5.1.1
exceptiongroup==1.2.1
executing==2.0.1
importlib_metadata==7.1.0
ipykernel==6.29.3
ipython==8.12.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpickle==3.0.4
jupyter_client==8.6.1
jupyter_core==4.12.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
nest_asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pip==24.0
prompt-toolkit==3.0.42
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
python-dateutil==2.9.0
pytz==2024.1
pyvis==0.3.2
pyzmq==24.0.1
regex==2024.5.15
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
stack-data==0.6.2
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
wcwidth==0.2.13
wheel==0.43.0
zipp==3.17.0
